<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.5">

    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>com.winson.poc.micro.gateway.api.grpc.GrpcProxy</servlet-class>
        <init-param>
            <param-name>proxyTo</param-name>
            <param-value>http://localhost:50051</param-value>
        </init-param>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>/</param-value>
        </init-param>

        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>